<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="flex justify-center">
      <div
        class="w-[90vw] h-[80vh] flex flex-col items-center justify-center bg-blue-400"
      >
        <h1 class="text-9xl text-white">Error 404</h1>
        <h2 class="text-6xl mt-12 text-white">Page not found...</h2>
      </div>
    </div>
  </body>
</html>
